<div class="flex md:flex-row-reverse flex-wrap">
  <div class="w-full md:w-3/4 bg-gray-500 p-4 text-center text-gray-200">1</div>
  <div class="w-full md:w-1/4 bg-gray-400 p-4 text-center text-gray-700">2</div>
</div>